<header class="header" id="js-header">
  <div class="header__holder container">
    <a href="#" class="logo">
      <img src="./img/logo.svg" alt="logo" data-logo="./img/logo-white.svg" data-logoMini="./img/logo-mini.svg">
    </a>

    <nav class="nav" id="js-navigation">
      <ul>
        <li><a href="#mobile-section">Мобильная версия</a></li>
        <li><a href="#umma-section">Umma Nikah</a></li>
        <li><a href="#p2p-section">p2p торговля</a></li>
        <li><a href="#scroes-section">баЛЛьная система</a></li>
        <li><a href="#tokens-section">Umma Token</a></li>
        <li><a href="#launch-section">Launchpad</a></li>
        <li><a href="#halal-section">Umma Halal</a></li>
        <li><a href="#roadmap-section">ROADMAP</a></li>
        <li><a href="#team-section">Команда</a></li>
      </ul>
    </nav>

    <div class="burger" id="js-burger">
      <div class="burger__holder">
        <span></span>
      </div>
    </div>
  </div>
</header>